graph {
}

node {
	size: 50px;
	fill-color: black;
	text-mode: hidden;
}

edge {
	arrow-size: 15px, 10px;
}

sprite {
}

node.knowledgenode {
	size: 100px;
	text-mode: hidden;
	fill-color: #4e79a7;
}

node.active_knowledgenode {
	size: 100px;
	text-mode: hidden;
	fill-color: #e15759;
}

node.active {
	text-mode: hidden;
	fill-color: #e15759;
}

node.fact {
	text-mode: hidden;
	fill-color: #b07aa1;
}

node.rule {
	text-mode: hidden;
	fill-color: #76b7b2;
}

node.recommendation {
	text-mode: hidden;
	fill-color: #f28e2b;
}

node.active_fact {
	text-mode: hidden;
	fill-color: #e15759;
}

node.active_rule {
	text-mode: hidden;
	fill-color: #e15759;
}

node.active_recommendation {
	text-mode: hidden;
	fill-color: #e15759;
}

node.clicked {
	text-mode: normal;
    text-background-mode: plain;
}