graph {
}

node {
	size: 30px;
	fill-color: black;
}

edge {
	arrow-size: 5px, 3px;
}

sprite {
}

node.knowledgenode {
	size: 60px;
	text-mode: hidden;
	fill-color: #4e79a7;
}

node.active_knowledgenode {
	size: 60px;
	text-mode: hidden;
	fill-color: #e15759;
}

node.active {
	text-mode: hidden;
	fill-color: #e15759;
}

node.fact {
	fill-color: #b07aa1;
}

node.rule {
	fill-color: #76b7b2;
}

node.recommendation {
	fill-color: #f28e2b;
}

node.active_fact {
	fill-color: #e15759;
}

node.active_rule {
	fill-color: #e15759;
}

node.active_recommendation {
	fill-color: #e15759;
}

node.clicked {
	text-mode: normal;
    text-background-mode: plain;
}

node.butt {
	text-background-mode: none;
	shape: box;
	size: 60px, 30px;
	text-size: 20px;
	text-mode: normal;
	text-color: white;
	fill-color: #59a14f;
}

node.butt_clicked {
	text-background-mode: none;
	shape: box;
	size: 60px, 30px;
	text-size: 20px;
	text-mode: normal;
	text-color: white;
	fill-color: #e15759;
}